name: Build wheels

on: [push, pull_request, workflow_dispatch]

jobs:
  build_wheels:
    name: py${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # cibuildwheel builds linux wheels inside a manylinux container
        # it also takes care of procuring the correct python version for us
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [37, 38, 39, 310]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: "3.9"
      - name: Install cibuildwheel
        run: |
          python -m pip install "cibuildwheel==2.8.1"
      - name: Checkout mypy
        shell: bash
        # use a commit hash checked into a file to get the mypy revision to build.
        # submodules prove problematic since .git is outside cibuildwheel's manylinux container
        run: |
          COMMIT=$(cat mypy_commit)
          git clone https://github.com/python/mypy.git
          cd mypy
          git checkout $COMMIT
          git submodule update --init --recursive
      - name: Build wheels
        run: |
          python build_wheel.py --mypy-root-dir mypy --output-dir wheelhouse --python-version ${{ matrix.python-version}}
      - uses: actions/upload-artifact@v3
        with:
          name: dist
          path: ./wheelhouse/*.whl
  build_sdist_python_wheel:
    name: sdist and python wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: "3.9"
      - name: Checkout mypy
        shell: bash
        run: |
          COMMIT=$(cat mypy_commit)
          git clone https://github.com/python/mypy.git
          cd mypy
          git checkout $COMMIT
          git submodule update --init --recursive
      - name: Run check-manifest
        run: |
          cd mypy
          pip install check-manifest
          check-manifest -v
      - name: Build sdist and wheel
        run: |
          cd mypy
          pip install --upgrade setuptools pip wheel
          python setup.py sdist bdist_wheel
      - uses: actions/upload-artifact@v3
        with:
          name: dist
          path: |
            mypy/dist/*.whl
            mypy/dist/*.tar.gz
  build_wasm_wheel:
    name: WASM wheel for 3.10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: "3.10"
      - uses: actions/setup-node@v3
        with:
          node-version: 18.5.0 # pyodide tests with this version
      - name: Checkout mypy
        shell: bash
        run: |
          COMMIT=$(cat mypy_commit)
          git clone https://github.com/python/mypy.git
          cd mypy
          git checkout $COMMIT
          git submodule update --init --recursive
      - name: Install pyodide-build
        run: |
          python -m pip install "pyodide-build==0.21.0"
      - name: Build wasm wheels
        env:
          MYPY_USE_MYPYC: "1"
          MYPYC_OPT_LEVEL: "3"
        run: |
          cd mypy
          pyodide build --exports pyinit .
      - name: Install pyodide for WASM test
        run: |
          npm install "pyodide==0.21.3"
      - name: Run WASM smoke test
        run: |
          node wasm_test.js
      - uses: actions/upload-artifact@v3
        with:
          name: dist
          path: |
            mypy/dist/*.whl
  release:
    name: create release
    needs: [build_wheels, build_sdist_python_wheel]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist
      - name: Release
        if: ${{ github.event_name != 'pull_request' }}
        # https://github.com/actions/upload-release-asset/issues/47
        uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const fs = require('fs').promises;
            const { repo: { owner, repo }, sha } = context;

            console.log('environment', process.versions);
            console.log({ owner, repo, sha });

            const release = await github.rest.repos.createRelease({
              owner, repo,
              // if GITHUB_REF just appears to be a branch, use tag-{commit} as the tag
              tag_name: process.env.GITHUB_REF.includes("refs/heads/") ? "tag-" + sha : process.env.GITHUB_REF.split("/").pop(),
              target_commitish: sha
            });

            console.log('created release', { release });

            for (let file of await fs.readdir('dist')) {
              console.log('uploading', file);

              await github.rest.repos.uploadReleaseAsset({
                owner, repo,
                release_id: release.data.id,
                name: file,
                data: await fs.readFile(`./dist/${file}`)
              });
            }
